*{
  margin: 0px;
  padding: 0px;
}
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 3em;
  text-align: center;
}

.title {
  font-size: 2.5rem;
  font-weight: normal;
  letter-spacing: -1px;
}

.welcome {
  height: 328px;
  background: url(../assets/yay.jpg) no-repeat center 0;
  background-size: 388px 328px;
}

.list {
  font-size: 1.2em;
  margin-top: 1.8em;
  list-style: none;
  line-height: 1.5em;
}

.list code {
  background: #f7f7f7;
}

/*输入框*/
.inputBox {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 40px;
  /*border: black 1px solid;*/
  width: 100%;
  display: flex;
}
.inputBox input{
  flex: 1;
  height: 40px;
}
.inputBox .sendBtn{
  background: cornflowerblue;
  width: 60px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  color: white;
}
.bigChat {
  height: 100%;
  width: 100%;
  background: url("../assets/timg.jpeg") no-repeat;
}
.chatBox {
  height: 100%;
  width: 100%;
  /*background: white;*/
  overflow: auto;
  padding-bottom: 40px;
  box-sizing: border-box;
}
.chatDiv{
  text-align: left;
}
.chatDivRight{
  text-align: right;
}
.avatarAndContent{
  padding: 5px 0px;
}
.avatar{
  /*width: 30px;*/
  /*height: 30px;*/
  /*display: inline-block;*/
  float: left;
  margin: 0px 5px;

}
.avatarRight{
  float: right;
}
.username{
  color: cornflowerblue;
  /*width: 200px;*/
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}
.usernameLeft{
  padding-left: 5px;
}
.usernameRight{
  padding-right: 5px;
}
.avatar img{
  width: 30px;
  height: 30px;
}
.chatItem{
  display: inline-block;
  /*float: right;*/
  /*height: 40px;*/
  background: cornflowerblue;
  border-radius: 5px;
  color: white;
  line-height: 40px;
  padding-left: 5px;
  padding-right: 5px;
  word-wrap:break-word;
  max-width: 80%;
  text-align: left;
}
